<!DOCTYPE html>
<html>
    <head>
        <title>Detalle de Producto</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/productos">Lista de Productos</a></h3>
            <h1>Detalle de Producto</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Nombre: </td>
                        <td>{{ producto.nombre }}</td>
                    </tr>
                    <tr>
                        <td>codigo: </td>
                        <td>{{ producto.codigo }}</td>
                    </tr>
                    <tr>
                        <td>stock: </td>
                        <td>{{ producto.stock }}</td>
                    </tr>
                    <tr>
                        <td>Precio: </td>
                        <td>{{ producto.precio }}</td>
                    </tr>
                    
                </tbody>
            </table>
            <h3><a href="/productos/edit/{{ producto._id }}">EDIT</a></h3>
            <form action="/productos/delete/{{ producto._id }}" method="post">
                <button type="submit">DELETE</button>
            </form>
        </div>
    </body>
</html>
