<h1>{{title}}</h1>

<h1> Usuarios</h1>
    <p >
        <div class="container">
            <h3><a href="/usuarios/create">Crear Usuario</a></h3>
            <h1>Lista de Usuarios</h1>
            {{#if usuarios }}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# each usuarios }}
                        <tr>
                            <td><a href="/usuarios/show/{{ _id }}">{{ nombre }}</a></td>
                            <td>{{ apellido }}</td>
                            <td>{{ email }}</td>
                            <td>{{ estado }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{~^~}}
                <div>Usuarios no encontrados.</div>
            {{/if}}
        </div>
    </p>
